[req]
prompt=no
default_bits=2048
encrypt_key=no
default_md=sha1
distinguished_name=dn
# PrintableStrings only
string_mask=MASK:0002
x509_extensions=ext

default_keyfile=/etc/shibboleth/sp-key.pem

[dn]
CN=SP_SERVERNAME

[ext]
subjectAltName= DNS:SP_SERVERNAME, \
                URI:https://SP_SERVERNAME/shibboleth
subjectKeyIdentifier=hash

